<div class="main-content">
  <div class="content-view">
    <div class="layout-md">
      <div class="layout-column-md">
        <div class="tsf-wizard tsf-wizard-1 top" data-step-index="0">
          <%= render 'shared/wizard_steps'%>
          <!-- BEGIN STEP CONTAINER -->
          <div class="tsf-container">
            <!-- BEGIN CONTENT-->
            <%= form_for([:service, @setting], url: setup_service_setting_path) do |f| %>
              <div class="card">
                <div class="card-block">
                 <legend>Agregar configuración básica</legend>
                  <div class="row">
                    <div class="col-lg-12 col-sm-12">
                      <fieldset class="form-group">
                        <label for="exampleInputEmail1">Correo de notificación</label>
                        <%= f.email_field :email_notification, class: 'form-control', placeholder: 'ejemplo@dominio.cl', autofocus: true, required: true %>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 col-sm-12">
                      <div class="checkbox m-b-1 pull-left">
                        <label>
                          <p><%= @setting.email_alert %></p>
                          <input type="checkbox" value="true" name="setting[email_alert]" autofocus="true" <%= 'checked=true' if @setting.email_alert %> > ¿Enviar correo de alerta?
                        </label>
                      </div>
                    </div>
                  </div>
                  <%= submit_tag '¡Listo!', class: 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
