<!DOCTYPE html>
<html>
  <head>
    <title>Iniciar Sesión | Shipit</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon.png') %>">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500,900,200' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'layouts/top_navbar' %>
    <div class="row">
      <% flash.each do |key, value| %>
       <div class="alert alert-<%= key == 'alert' ? 'danger' : key %> alert-dismissible" role="alert">
         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <strong class=""><%= value %></strong>
       </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
